# Environment
ENV=
SERVICE_NAME=
PORT=8003
LOG_LEVEL=
DEBUG=

# Database
DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
DB_SCHEMA=



# Auth
AUTH_ENABLED=
JWT_SECRET_KEY=

# HITL Settings
REVIEW_DEFAULT_SLA_SECONDS=
